# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/

# Outputs del proyecto
outputs/

# Terraform
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.backup
terraform/**/*.zip
terraform/**/.terraform.lock.hcl

# Build
build/
